.buttons {
  display: flex;
  flex-direction: column;
}

.shape {
  /*background-color: lightgray;*/
  text-align: left;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
}

#zone {
  grid-area: footer;
  border: 2px solid #ccc;
  margin: 20px 0px;
}

canvas {
  border: solid #ccc;
  border-width: 0px 0px 1px 0px;
  grid-area: main;
}

.container {
  display: grid;
  grid-template-columns: 200px auto 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header header header" "sidebar main main" "sidebar footer .";
}
.buttons {
  width: 25% !important;
}